Global Silver Supply Chain Analytics

In [10]:
print("Libraries imported")
import pandas as pd
import numpy as np

Libraries imported

In [12]:
print("Data loaded")
silver = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\Global Silver Supply Chain Transactions\Global_Silver_Supply_Chain.csv")

Data loaded

DATA PROFILING

In [15]:
print("Columns name & Data type")
silver.info()

Columns name & Data type
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transaction_id       12000 non-null  object
 1   mine_country         12000 non-null  object
 2   shipment_date        12000 non-null  object
 3   silver_quality       12000 non-null  object
 4   quantity_kg          12000 non-null  float64
 5   price_per_kg         11640 non-null  float64
 6   currency             12000 non-null  object
 7   transport_mode       12000 non-null  object
 8   payment_terms        12000 non-null  object
 9   logistics_cost       12000 non-null  float64
 10  delivery_delay_days  11392 non-null  float64
 11  operator_notes       5887 non-null   object
dtypes: float64(4), object(8)
memory usage: 1.1+ MB

In [25]:
print("Top 5 Rows of Data")
silver.head(5)

Top 5 Rows of Data

,transaction_id,mine_country,shipment_date,silver_quality,quantity_kg,price_per_kg,currency,transport_mode,payment_terms,logistics_cost,delivery_delay_days,operator_notes
0,TXN100000,Canada,2023-01-07,Medium,620.80,774.34,INR,Rail,Mixed,12750.07,0.0,NaN
1,TXN100001,Peru,2023-03-30,Low,838.25,1038.20,CNY,Ship,Mixed,5600.53,2.0,NaN
2,TXN100002,Chile,2023-02-12,High,3767.32,854.61,INR,Rail,Advance,12414.97,2.0,Rate renegotiated
3,TXN100003,Canada,2021-01-13,Low,0.00,924.12,USD,Road,Mixed,13411.38,1.0,Rate renegotiated
4,TXN100004,Mexico,2023-07-04,Medium,1058.90,847.82,USD,Rail,Mixed,7689.58,0.0,NaN

In [27]:
print("Dataset Stats")
silver.describe()

Dataset Stats

        quantity_kg  price_per_kg  logistics_cost  delivery_delay_days
count  12000.000000  11640.000000    12000.000000         11392.000000
mean    2467.940826    848.655271     7592.955225             1.649754
std     1449.658706    144.494277     4282.281912             1.986225
min        0.000000    600.010000      202.160000             0.000000
25%     1208.885000    723.677500     3905.715000             0.000000
50%     2480.110000    846.930000     7530.615000             1.000000
75%     3697.950000    974.252500    11318.405000             3.000000
max     4998.960000   1099.990000    14998.420000             7.000000

In [29]:
print("Nulls in each columns")
silver.isnull().sum()

Nulls in each columns

transaction_id            0
mine_country              0
shipment_date             0
silver_quality            0
quantity_kg               0
price_per_kg            360
currency                  0
transport_mode            0
payment_terms             0
logistics_cost            0
delivery_delay_days     608
operator_notes         6113
dtype: int64

DATA CLEANING

In [50]:
print("Text Inconsistencies Fixed")
silver['mine_country'] = silver['mine_country'].str.title()

Text Inconsistencies Fixed

In [52]:
print("Zero Quantity Fixed")
silver.loc[silver['quantity_kg'] == 0, 'quantity_kg'] = np.nan

Zero Quantity Fixed

In [56]:
print("Missing Price Values Fixed")
silver['price_per_kg'] = silver.groupby('silver_quality')['price_per_kg'].transform(lambda x: x.fillna(x.median()))

Missing Price Values Fixed

In [58]:
print("Delivery Delay Nulls Fixed")
silver['delivery_delay_days'] = silver['delivery_delay_days'].fillna(0)

Delivery Delay Nulls Fixed

In [62]:
print("Operator Notes Fixed")
silver['operator_notes'] = silver['operator_notes'].fillna("All Fine")

Operator Notes Fixed

FEATURE ENGINEERING

In [79]:
print("Revenue Column Created")
silver['revenue'] = silver['quantity_kg'] * silver['price_per_kg']

Revenue Column Created

In [89]:
print("Delay Flag")
silver['is_delayed'] = np.where(silver['delivery_delay_days'] > 0, "Yes", "No")

Delay Flag

In [92]:
#Data Features
silver['shipment_date'] = pd.to_datetime(silver['shipment_date'])
silver['year'] = silver['shipment_date'].dt.year
silver['month'] = silver['shipment_date'].dt.month
silver['month_name'] = silver['shipment_date'].dt.month_name()

In [104]:
print("Post Data Profiling")
silver.isnull().sum()

Post Data Profiling

transaction_id           0
mine_country             0
shipment_date            0
silver_quality           0
quantity_kg            240
price_per_kg             0
currency                 0
transport_mode           0
payment_terms            0
logistics_cost           0
delivery_delay_days      0
operator_notes           0
revenue                240
is_delayed               0
year                     0
month                    0
month_name               0
dtype: int64

In [106]:
silver.describe()

,shipment_date,quantity_kg,price_per_kg,logistics_cost,delivery_delay_days,revenue,year,month
count,12000,11760.000000,12000.000000,12000.000000,12000.000000,1.176000e+04,12000.000000,12000.000000
mean,2023-01-28 14:17:31.200000,2518.306965,848.613757,7592.955225,1.566167,2.139506e+06,2022.592583,6.331333
min,2021-01-01 00:00:00,50.030000,600.010000,202.160000,0.000000,3.177745e+04,2021.000000,1.000000
25%,2022-01-25 00:00:00,1283.542500,727.350000,3905.715000,0.000000,1.064719e+06,2022.000000,3.000000
50%,2023-02-04 00:00:00,2525.195000,848.005000,7530.615000,1.000000,2.073110e+06,2023.000000,6.000000
75%,2024-02-04 00:00:00,3727.982500,970.480000,11318.405000,2.000000,3.105535e+06,2024.000000,9.000000
max,2025-02-08 00:00:00,4998.960000,1099.990000,14998.420000,7.000000,5.478386e+06,2025.000000,12.000000
std,NaN,1420.406207,142.310593,4282.281912,1.968784,1.277445e+06,1.167851,3.502224

In [110]:
print("Cleaned CSV exported")
silver.to_csv(r"C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\Global Silver Supply Chain Transactions\silver_supply_chain_cleaned.csv",index=False)

Cleaned CSV exported